.App {
  background-color: #282c34;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .App {
    height: 100%;
  }
}

article{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.imgcon{
  position: relative;
  transition: opacity 3s, transform 0.5s;
  animation: fadeIn 0.8s ease-in-out;
  box-shadow: 3px 5px 13px 11px rgba(32, 32, 32, 0.63);
  
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imgcon img {
  transition: opacity 3s, transform 0.5s;
  opacity: 1;
  transform: translateY(20px);
}
.imgcon:hover{
  transition: opacity 3s, transform 0.5s;
  opacity: 1;
  transform: translateY(-20px);
}
.Atext{
  display: flex;
  justify-content: center;
  color: azure;
  margin-bottom: 12px;
}